.stats {
	.infoBox {
		background-color: #2f3438;
		margin-bottom: 1rem;

		&--selected {
			border-color: greenyellow;

			&.infoBox--red {
				border-color: red;
			}
		}

		&__cases--green {
			color: lightgreen !important;
		}

		p {
			color: #f8f8f8;
		}

		&__title {
		}

		&__cases {
			color: #cc1034;
			font-weight: 600;
			font-size: 1.75rem;

			small {
				display: block;
				font-size: 1rem;
				margin-bottom: 1.5rem;
			}
		}
		&__total {
			color: #6c757d;
			font-weight: 700;
			font-size: 0.8rem;
			margin-top: 0.5rem;
		}
	}
}
