.table {
	margin-bottom: 2rem;
	overflow-y: scroll;
	height: 400px;

	table {
		width: 100%;
	}

	tr {
		display: flex;
		justify-content: space-between;
		color: #f8f8f8;
		border-bottom: 1px solid #181818;

		&:nth-of-type(odd) {
			background-color: #303030;
		}
	}

	td {
		padding: 0.5rem;
	}
}
