.table {
	margin-bottom: 2rem;
	overflow-y: scroll;
	height: 400px;

	tr {
		display: flex;
		justify-content: space-between;

		&:nth-of-type(odd) {
			background-color: #f3f2f8;
		}
	}

	td {
		padding: 0.5rem;
	}
}
