* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f6fa;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;

	&__left {
		flex: 0.9;
	}

	&__right {
		h3 {
			margin-bottom: 1rem;
		}
	}
}

.app {
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		justify-content: space-between;

		h1 {
			color: #fc3c3c;
			font-size: 2rem;
			text-transform: uppercase;
		}
	}

	&__dropdown {
		background-color: white;
	}
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
}
