* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// colors
$bodyBackground: #25292e;
$panelBackground: #2f3438;

$red: #ff3e58;
$redFaded: #59363e;

$blue: #01a4f6;
$blueFaded: #264a5e;

$textInactive: #838589;
$textActive: #0690d4;

body {
	background-color: $bodyBackground;
	color: white;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column;

		&__stats {
			flex-direction: column;

			.infoBox:not(:last-child) {
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
	}
}
