* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// colors
$bodyBackground: #25292e;
$panelBackground: #2f3438;

$red: #ff3e58;
$redFaded: #59363e;

$blue: #01a4f6;
$blueFaded: #264a5e;

$textInactive: #838589;
$textActive: #0690d4;

body {
	background-color: $bodyBackground;
	color: white;
}

section {
	padding: 2rem;
}

@keyframes slow-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.navigation__logo {
		animation: slow-spin infinite 60s linear;
	}
}
